
html {
    height: 100%;
}

body{
    /* background-color: #3cc2e3; */
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2534b236-6ad0-4205-a4fe-52befe5e83f1/dd3h7lq-2d21053d-c224-4700-824c-dd08526cc0c6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1MzRiMjM2LTZhZDAtNDIwNS1hNGZlLTUyYmVmZTVlODNmMVwvZGQzaDdscS0yZDIxMDUzZC1jMjI0LTQ3MDAtODI0Yy1kZDA4NTI2Y2MwYzYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.J4vVa0idf8ZtHDMwcAr3UCJApDAmtkqdr2K1hoRZakU);
    background-repeat:repeat;
    background-size: cover;
    color:#3b244b ;
    font-family: 'Bebas Neue', cursive;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
footer{
    /* position: absolute; bottom: 0; */
    flex-wrap: wrap;
    /* display: flex; */
    text-align: center;
    width: 100%;
}
#thibaud{
    width:100%;

}
.logoSocial{
    height: 20px;
    width: 40px;
    justify-content: center;
}
.logoSocialLinkedin{
    height: 20px;
    width:20px;
    
}
.uwuLogoGirl{
    display: flex;
    justify-content: center;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}




.uwucolor{
    color: #f735fa !important;
}

.title{

    text-align: center;
    align-items: flex-end;
    width: 100%;
}

.buttonStone{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.buttonLeaf{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.buttonScissor{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.swingimage{
    height: 100px;
    width: 100px;
    align-items: center;
}

.p1{

    text-align: center;
}
button{
    /* background-color: #8354ac!important; */
    color: #3b244b !important;
    border-color:#3b244b !important ;
    height: 60px;
    width: 100px;
}

.centerResult{
    display: flex;
    justify-content: center;

}
.resultat{
    display: flex;
    justify-content: center;
    border: #f735fa 1px solid;
    width: 60%;
}

.test{
    display: flex;
    height: 190px;
}

.resultat{
    margin-bottom: 1rem;
}

/* debut session teste pour l'affichage des scores */


.result{
    display: flex;
    margin-bottom: 3rem;
}
.myScores{
    width: 50%;
    text-align: center;
}
.robotScores{
    width: 50%;
    text-align: center;
}


/* Changement des couleurs des boutons au survols */
button:hover{
    background-color: #FFD1F6 !important; 
}

/* voir pour les bts icons */
.icon{
    margin-bottom: 30px;
}

#iconscenter{
    display: flex;
    justify-content: center;
}
.btsIcon{
    display: flex;
    height: 20px;
    width: 50%;
    justify-content: center;

}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
    margin-left: 60px;

}

@media screen and (min-width: 501px){
    .swingimage{
        width: 300px;
        height: 300px;
    }
    
}
