body{
    /* background-color: #3cc2e3; */
    background-image: url(https://www.finetoshine.com/wp-content/uploads/2020/09/Top-10-Trending-Live-Wallpaper-iPhone-iOs-On-Pinterest.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color:#3b244b ;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}

.title{

    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;
    width: 100%;
}

.icon{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: .5s ease;
    backface-visibility: hidden;
}
#titouan{
    font-size: x-large;
}
/* try hover img */
img{
    width: 100px;
    transition: transform.1s;
}
img:hover{
    transform: scale(2);

}
.p1{

    text-align: center;
}
button{
    background-color: #8354ac!important;
    color: #3b244b !important;
    border-color:#3b244b !important ;
}

.centerResult{
    display: flex;
    justify-content: center;

}
.resultat{
    display: flex;
    justify-content: center;
    border: #f735fa 1px solid;
    width: 60%;
}

.test{
    display: flex;
    height: 190px;
}
.logo{
    width: 300px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.resultat{
    margin-bottom: 1rem;
}

/* debut session teste pour l'affichage des scores */

.result{
    display: flex;
    margin-bottom: 3rem;
}
.myScores{
    width: 50%;
    text-align: center;
}
.robotScores{
    width: 50%;
    text-align: center;
}

.bottom-text{
    display: flex;
}
.textBottom{
    text-align: center;
}

/* Changement des couleurs des boutons au survols */
button:hover{
    background-color: #FFD1F6 !important; 
}

/* voir pour les bts icons */

#iconscenter{
    display: flex;
    justify-content: center;
}
.btsIcon{
    display: flex;
    height: 20px;
    width: 50%;
    justify-content: center;
}

h1:hover{
    color: #f735fa !important;
}
#uwuGirl{
        transition: transform 1s ease-in-out;
}
#uwuGirl:hover {
        transform: rotate(360deg) rotateX(360deg) scale(2);
        
    }

    #uwuGirl2{
        transition: transform 1s ease-in-out;
}
#uwuGirl2:hover {
        transform: rotate(180deg) rotateY(180deg) scale(2);
    }

    @media screen and (min-width: 501px) {
        body{
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2534b236-6ad0-4205-a4fe-52befe5e83f1/dd3h7lq-2d21053d-c224-4700-824c-dd08526cc0c6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1MzRiMjM2LTZhZDAtNDIwNS1hNGZlLTUyYmVmZTVlODNmMVwvZGQzaDdscS0yZDIxMDUzZC1jMjI0LTQ3MDAtODI0Yy1kZDA4NTI2Y2MwYzYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.J4vVa0idf8ZtHDMwcAr3UCJApDAmtkqdr2K1hoRZakU);
    }}